# Build directories
**/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Third-party dependencies
third_party/

# Compiled files
*.o
*.so
*.dylib
*.a

# IDE files
.vscode/
.idea/
*.swp

# Terraform files
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfvars
**/.terraform.tfstate.lock.info
**/crash.log
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json

